<main>
  <div class="container">
    <h1 >First Website to offer reward on refferals!!!</h1>
    <p>Just send the referal link to the other persons and just earn the rewards and reedem them on your fav product!</p>
    <p>Your Refferal Code: <%= user.userRefferalCode %> </p>
    <a href="/rewards/link">
      <button type="button" class="btn btn-primary text-center" >Send Referrals</button>
    </a>
  </div>
</main>