<!-- <div>
    <h1>Send Refferal Link</h1>
    <br>
    <p><%= user.name %> has refferd you to refferal Programme</p>
    <br>
    <p>Your Refferal Link: <%= user.userRefferalLink %> </p>
    <p></p>
    <p>Thanks!</p>
</div> -->